.validate-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-add-button {
    text-align: right;
    padding: 10px;
}

.paginate_button.page-item.active > a {
    pointer-events: none;
}

.nav-link.active {
    pointer-events: none;
}

.header-content {
    font-weight: bold;
}

.modal-content {
    border-radius: 0;
}

.close {
    font-size: 2.0rem;
    font-weight: 500
}

.u-width10 {
    width: 10px;
}

.u-width45{
    width: 45px;
}

.u-width100 {
    width: 100px;
}

.u-width110 {
    width: 110px;
}

.u-width150 {
    width: 150px;
}

.u-width200 {
    width: 200px;
}

.u-width215 {
    width: 215px;
}

.u-width300 {
    width: 300px;
}

.u-width400 {
    width: 400px;
}

button.btn.btn-success.open-add-modal {
    float: right;
    font-size: 14px;
}

.btn-tool {
    line-height: 8px;
    font-size: 15px;
}

.custom-radio-input {
    accent-color: red;
    width: 33px;
    height: 18px;
    position: relative;
    top: 4px;
}

.custom-checkbox-input,
.custom-radio-input-primary {
    accent-color: blue;
    width: 33px;
    height: 18px;
    position: relative;
    top: 4px;
}

/* Common width */

.w-2 {
    width: 2%;
}

.w-3 {
    width: 3%;
}

.w-5 {
    width: 5%;
}

.w-6 {
    width: 6%;
}

.w-8 {
    width: 8%;
}

.w-10 {
    width: 10%;
}

.w-12 {
    width: 12%;
}

.w-15 {
    width: 15%;
}

.w-18 {
    width: 18%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}
/* End common width */

.modal-content {
    border-color: #6271a7;
    box-shadow: 0 0.5rem 1rem #6271a7;
}

.modal-header {
    background-color: #ecf0f5 !important;
    color: #468ebc !important;
    padding: 10px 15px;
}

.modal-title {
    font-size: 17px;
    font-weight: bold;
}

.modal-footer {
    padding: 6px 12px;
}

button.add, button.edit, button.add-cadres, button.add-medical-card, button.edit-medical-card, button.edit-cadres {
    background-color: #7aa8D0;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-color: #7aa8D0;
    width: 65px;
}

button.reset {
    background-color: #e7e7e7;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
}

button.button-cancel {
    background-color: #d73925;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.fa-times, .fa-save, .fa-sync-alt {
    padding-right: 3px;
}

.bd-example-modal-lg {
    padding-right: 17px;
}

.card-outline {
    margin-bottom: 10px;
    border-radius: 0;
}

.card-header {
    padding: 0.5rem 1.25rem;
}

.card-title {
    font-size: 24px;
}

i.fa-filter {
    margin-top: 7px;
}

.block-button-add {
    text-align: right;
}

.card-body {
    padding-top: 10px;
}

.block-button-card-outline {
    text-align: center;
}

.undo-card-outline {
    margin-left: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 18px;
}

.modal-title {
    padding-top: 5px;
}

.ordinal-number {
    padding-right: 12px !important;
}

li.nav-item p {
    padding-left: 5px;
}

.menu-lv2 {
    padding-left: 12px !important;
}

.menu-lv3 {
    padding-left: 10px !important;
}

.word-break {
    word-break: break-word;
    overflow-wrap: anywhere;
}

.th-center.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 12px !important;
    text-align: center;
    vertical-align: middle;
}
.white-space {
    white-space: pre-line
}

.swal-title {
    word-break: break-word;
}

a.suggest-item:hover {
    background-color:#468ebc;
}

li.li-suggest-item {
    border-bottom: 1px inset #656565FF !important;
}

.designated_service {
    display: none;
}

.designated_service.active {
    display: block !important;
}

.update.hidden {
    display: none;
}

.no-border {
    border: none;
    background: none;
}

.large {
    font-size: large;
}

.text-warning-custom {
    color: #FF6600;
}

.auto-width {
    width: auto !important;
}

.toggle-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
    z-index: 99;
}

.icon-upload {
    display: flex;
    align-items: center;
    width: fit-content;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#upload {
    color: #ffffff;
}

#preview {
    padding-top: 1rem;
    width: 200px;
    height: 200px;
}

.no-wrap {
    white-space: nowrap;
}

.list-suggest {
    position:absolute !important;
    z-index: 9999;
}

.btn-medicine-of-medical-session-title{
    color: #212529;
    font-weight: bold;
    font-size: 18px;
}

.font-sm {
    font-size: 17px;
}

.cursor-pointer {
    cursor: pointer;
}

button.add-import-material-slip, button.save-real-import-material-slip {
    width: 83px;
    background-color: #7aa8D0;
    border-color: #7aa8D0;
}

.fw-400 {
    font-weight: 400 !important;
}

.min-w-100px {
    min-width: 100px;
}

.min-w-150px {
    min-width: 150px;
}

.min-w-200px {
    min-width: 200px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
    padding: 1px 10px !important;
    color: #fff !important;
}

.bg-grey {
    background-color: rgba(0,0,0,.05);
}

.select2-container--default {
    width: 100% !important;
    font-size: 100% !important;
}

li.focus a.main_disease-suggest,
li.focus a.side_disease-suggest {
    background-color: gray;
    color: white;
}
.suggest-parent-dropdown {
    position: relative;
}

.suggestion-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 700px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion-option {
    padding: 8px 10px;
    cursor: pointer;
}

.suggestion-item {
    padding: 0;
    box-sizing: border-box;
}

.suggestion-dropdown .suggestion-option:hover {
    background-color: #5897fb !important;
    color: white;
}

.col-form-label-fz {
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-size: 1.1rem;
    line-height: 1.5;
}

.h4-fw {
    font-weight: 700 !important;
}

.btn-medicine-of-medical-session-title.print-btn:hover
{
    box-shadow: 0 3px;
}

.mb-7 {
    margin-bottom: 7px;
}
.mb-10 {
    margin-bottom: 10px;
}

#line-chart .morris-hover-point {
    color: #666 !important;
}

.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 15px;
}
.fa-filter{
    color: #df5612;
}
.btn-group-sm>.btn, .btn-edit-size {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.text-md {
    font-size: 1.5rem !important;
}

.disabled-option {
    background: grey !important;
    border: 1px grey !important;
}
.sidebar-dark-primary{
    background-color:  #1e0638;
}
[class*=sidebar-dark-] .sidebar a {
    color: white;
}
[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu {
    color: #fff;
}

@media (min-width: 1200px) {
    .col-xl-4_4 {
        -ms-flex: 0 0 36.66667%;
        flex: 0 0 36.66667%;
        max-width: 36.66667%;
    }
}

@media (min-width: 1300px) {
    .col-xl-4_4 {
        -ms-flex: 0 0 34%;
        flex: 0 0 34%;
        max-width: 34%;
    }
}

@media (min-width: 1400px) {
    .col-xxl-2 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1600px) {
    .col-xxl-2 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-xxl-2_5 {
        -ms-flex: 0 0 20.83333%;
        flex: 0 0 20.83333%;
        max-width: 20.83333%;
    }
    .col-xxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: rgba(255,255,255,.9);
    color: #343a40;
}

.fullscreen {
    background-color: white !important;
}
